.detail {
    padding-top: 20px;
}

.detail__title {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.detail__chart {
    width: 60%;
    margin: 0 auto 50px auto;
}

.detail__comments-title {
    width: 50%;
    margin: auto;
}

.detail__comments {
    width: 50%;
    margin: auto; 
    padding-top: 20px;
}