.landingTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landingTable__subtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
}

.list__search {
  min-width: 280px;
  margin-right: 5px;
}

.landingTable__subtitle p {
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}