.page-not-found__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found__message {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.page-not-found__text {
    margin-top: 15px
} 

.page-not-found__link {
    margin-top: 30px
} 