.profile {
    padding-top: 20px;
    height: 700px;
    width: 60rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__add-title {
    margin-top: 20px;
}

.profile__add {
    width: 40vw;
    margin: 30px auto 60px auto;
}

.profile__table {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.profile__chart {
    width: 70vw;
    margin: 50px auto;
}

.profile__message__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__message {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.profile__message__error {
    font-size: 30px;
    color: goldenrod;
    width: 700px;
    margin: 270px auto;
}