.detail {
    padding-top: 90px;
}

.detail__title {
    width: 80%;
    margin: auto;
}

.detail__chart {
    width: 50%;
    margin: auto;
}

.detail__comments-title {
    width: 50%;
    margin: auto; 
    padding-top: 40px;
}

.detail__comments {
    width: 50%;
    margin: auto; 
    padding-top: 20px;
}