.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.detail__title {
  width: 80%;
  margin: 0px auto 20px auto;
}

.detail__chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 20px auto;
}

#detail__delay_chart {
  display: flex;
}

.detail__comments_title {
  width: 50%;
  margin: auto;
}

.detail__comments {
  width: 50%;
  margin: auto;
  padding: 20px 0px 50px 0px;
}

.detail__countdown {
  color: #3F51B5;
  font-size: x-large;
}