* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.margin-body {
  padding-top: 80px;
  min-height: calc(100vh - 140px - 0px); 
}

html,
body {
  height: 100vh;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}



