.landingTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: 50rem;
}

.list__search {
  min-width: 280px;
  margin-right: 5px;
  margin-top: 15px;
  width: 100%;
}

.list__search__input {
  width: 35rem;
  color: white;
}

.landingTable__subtitle p {
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}

#landingTable__table {
  margin-top: 20px;
  width: 100%;
}