.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.status__form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
/* 
::-webkit-input-placeholder {
  text-align: center;
} */

.status__result {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link_to_profile {
  width: 75%;
  margin: auto;
  margin-bottom: 40px;
}

.landingTable__title {
  padding-top: 40px;
  margin-bottom: 10px;
}

.landingPage__countdown {
  color: #3F51B5;
  font-size: x-large;
}

#status__message {
  display: flex;
}

@media screen and (min-width: 600px) {
  .status__form_container {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .status__form_container {
    width: 50%;
  }
}