.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.landing__title{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: bold;
  color: #629925;
  width: 100%;
  height: 120px;
}

.landing__subtitle{
  margin-bottom: 25px;
  font-size: 25px;
  width: 60%;
  border-bottom: 1px solid black;
}

.landingTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(245, 250, 245);
  color: black;
}

.status__form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-top: 60px;
}
/* 
::-webkit-input-placeholder {
  text-align: center;
} */

.status__result {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.landingTable__title {
  padding-top: 40px;
  margin-bottom: 10px;
}

.landingPage__countdown {
  font-size: x-large;
}

#status__message {
  display: flex;
}

@media screen and (min-width: 600px) {
  .status__form_container {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .status__form_container {
    width: 50%;
  }
}