* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 80px;
}

.search {
  height: 100px;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}

.status__form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.status__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  margin-top: 30px;
}

.status__form-label {
  margin-top: 5px;
  margin-bottom: 25px;
}

.status__form-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.status__form-input {
  width: 80%;
}

.status__form-button {
  width: 80%;
}

::-webkit-input-placeholder {
  text-align: center;
}

.status__result {
  margin-top: 40px;
  font-size: 40px;
}

.status__up {
  background: #000 url("img/up.gif") no-repeat center center/cover;
  color: #fff;
}

.status__down {
  background: #000 url("img/error.gif") no-repeat center center/cover;
  color: #fff;
}

.status__error {
  background: #000 url("img/down.gif") no-repeat center center/cover;
  color: #000;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f51b5;
  color: white;
  text-align: center;
}
